{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<section id="field" class="pd-top-30 pd-bot-30">
    <div class="container">
        <div class="field-header">
            <div class="field-image-container">
                <img src="{{ field.logo.url }}" alt="" class="field-logo">
            </div>
            <h1 class="pd-top-bot-10">{{ field.title }}</h1>
        </div>
        <hr>
        <p>{{ field.description|safe }}</p>
        {% if request.user.is_authenticated %}
        <div class="item-modifications">
            <a href="{% url 'edit-field' field.id %}" class="btn edit-btn">Edit <span class="material-icons">edit</span></a>
            <a href="{% url 'delete-field' field.id %}" class="btn delete-btn"><span class="material-icons">delete_forever</span></a>
        </div>
        {% endif %}

        <div class="project-wrapper row pd-top-30">
            <h3 class="font-bold">My Projects</h3>
            {% if request.user.is_authenticated %}
            <div class="add-project">
                <a href="{% url 'add-project' %}" class="btn edit-btn">Add Project <span class="material-icons">add</span></a>
            </div>
            {% endif %}
            {% for project in projects %}
            <div class="project-column col-md-4">
                <a href="{% url 'project' project.id %}"><img class="project-thumbnail" src="{{ project.thumbnail.url }}" alt="Project 1"></a>
                <div class="project-body">
                    <h6>{{ project.title }}</h6>
                    {% if request.user.is_authenticated %}
                    <div class="item-modifications">
                        <a href="{% url 'edit-project' project.id %}" class="btn edit-btn">Edit <span class="material-icons">edit</span></a>
                        <a href="{% url 'delete-project' project.id %}" class="btn delete-btn"><span class="material-icons">delete_forever</span></a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}