{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>{{ form_title }}</h3>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.media }}

        {% for field in form %}
        
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-laber">{{ field.label }}</label>
            {{ field }}
        </div>

        {% endfor %}

        <input class="btn edit-btn" type="submit" value="submit">

    </form>
</div>

{% endblock content %}