{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<!-- Hero -->
<section id="hero" class="pd-top-30">
    <div class="container">
        <div class="hero-content">
            {% for person in persons %}
            <div class="hero-content-intro row d-flex justify-content-center">
                <div class="col col-lg-3 d-flex justify-content-center">
                    <img class="profile-picture" src="{{ person.profile_picture.url }}" alt="Profile Picture">
                </div>
                <div class="intro-name-wrapper col col-lg-9">
                    <h1 class="intro-name">{{ person.first_name }} {{ person.last_name }}</h1>
                </div>
            </div>
            <hr>
            <div class="hero-content-subsection">
                <h3>{{ person.headline }}</h3>
                <p>{{ person.description }}</p>
            </div>
            {% if person.about %}
            <div class="about-me">
                <h3 class="font-bold">About Me</h3>
                <div class="about-me-content"><p>{{ person.about }}</p></div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="icon"><img src="static/images/preload/man-right-to-left.svg" alt=""></div>
</section>

{% if fields %}
<!-- Fields -->
<section id="fields">
    <div class="container">
        <div class="field-wrapper row pd-top-30 justify-content-around">
            <h3 class="font-bold">My Fields of Activity</h3>
            {% for field in fields %}
            <div class="field-column col-md-4 pd-top-30">
                <a href="{% url 'field' field.id %}"><img class="field-logo-home" src="{{ field.logo.url }}" alt="Field 1"></a>
                <div class="field-body">
                    <h6>{{ field.title }}</h6>
                    {% for person in persons %}
                    <a href="{% url 'field' field.id %}">See {{ person.first_name }}'s {{ field.title }} Projects</a>
                    {% endfor %}   
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- More About ME -->
{% for person in persons %}
{% if person.more_about %}
<section id="more-about-me" class="pd-top-30">
    <div class="container">
        <div class="more-about-me">
            <h3 class="font-bold">More About Me</h3>
            <p>{{ person.more_about }}</p>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

<!-- Skills -->
<section id="skills" class="pd-top-30">
    <div class="container">
        <h3 class="font-bold">My Skills</h3>
        <div class="skills-container">
            {% for detailed_skill in detailed_skills %}
            <div class="skill-wrapper align-items-center">
                {% if detailed_skill.logo %}
                <img class="skill-logo" src="{{ detailed_skill.logo.url }}">
                {% endif %}
                <div class="skill-content">
                    <h5>{{ detailed_skill.title }}</h5>
                    <p>{{ detailed_skill.description }}</p>
                </div>
            </div>
            {% endfor %}

            <h3 class="pd-top-30 font-bold">My Other Skills</h4>
            <div class="other-skills-container">
                {% for skill in skills %}
                <div class="skill-tag">
                    <span>{{ skill.title }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="icon"><img src="static/images/preload/man-left-to-right.svg" alt=""></div>
</section>

<!-- Endorsements -->
<section id="endorsements" class="pd-top-30">
    <div class="container">
        <h3 class="font-bold">Endorsements</h3>
        <a href="{% url 'add-endorsement' %}" class="btn edit-btn">Add endorsement</a>
        <div class="endorsement-container">
            {% for endorsement in endorsements %}
            <div class="card">
                <div class="card-body">
                    <h5>{{ endorsement.name }}</h5>
                    <p>{{ endorsement.description }}</p>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
<section id="contact" class="pd-top-50">
    <div class="container">
        <div class="socialmedia-icons text-center">
            {% for person in persons %}
            <a href="{{ person.linkedin }}"><i class="fa fa-linkedin-square"></i></a>
            <a href="{{ person.instagram }}"><i class="fab fa-instagram"></i></a>
            <a href="{{ person.email }}"><i class="fas fa-envelope"></i></a>
            <a href="{{ person.phone_number }}"><i class="fas fa-mobile-alt"></i></a>
            {% endfor %}
        </div>
        <form class="contact-form pd-top-30" method="POST">
            <h3 class="font-bold">I will read your messages!</h3>
            {% csrf_token %}

            {% for field in form %}

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>

            {% endfor %}

            <input class="btn edit-btn" type="submit" value="submit">
        </form>
    </div>
</section>

{% endblock content %}