
<!-- Navbar Section -->
<section id="navigation_bar">
    <div class="container">
        <div class="navbar-wrapper d-flex justify-content-center">
            <a href="{% url 'home' %}" class="nav-link">Profile</a>
            <a href="{% url 'home' %}" class="nav-link">Projects</a>
            <a href="#" class="nav-link">Contact</a>

            {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a>

            <!-- Temporarily commented for making the Dashboard Page -->

            <!-- <a href="{% url 'inbox' %}" class="nav-link">Inbox</a>
            <a href="{% url 'add-project' %}" class="nav-link">Add Project</a>
            <a href="{% url 'add-skill' %}" class="nav-link">Add Skill</a>
            <a href="{% url 'add-field' %}" class="nav-link">Add Field</a> -->
            {% endif %}
            <a href="{% url 'donation' %}" class="btn btn-sm btn-secondary nav-link">Buy me a coffee</a>
        </div>
    </div>
</section>

