{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<section id="field-Project">
    <div class="container pd-top-30">
        <div class="row justify-content-center">
            <h3 class="font-bold">Add Project</h3>
            <div class="col-12 pd-top-30 text-center">
                <div class="content mg-10 bg-gray pd-20"><a href="{% url 'add-project' %}" class="nav-link bg-gray">Add Project</a></div>
            </div>
        </div>
    </div>
</section>



<section id="projects">
    <div class="container pd-top-30">
        <div class="row justify-content-around pd-top-30">
            <h3 class="font-bold">Projects</h3>
            <div class="related-field">
            {% for field in fields %}
            <div class="row justify-content-around pd-top-30">
                <h3 class="font-bold">{{ field.title }}</h3>
                {% for project in projects %}
                {% if project.field == field %}
                <div class="field-column col-md-3 pd-top-30">
                    <a href="{% url 'project' project.id %}"><img class="project-image" src="{{ project.thumbnail.url }}" alt="project 1"></a>
                    <div class="peoject-body">
                        <h6>{{ project.title }}</h6>
                        <div class="item-modifications">
                            <a href="{% url 'edit-project' project.id %}" class="btn btn-secondary">Edit</a>
                            <a href="{% url 'delete-project' project.id %}" class="btn btn-secondary">Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% if field.project_set.count == 0 %}
                <div class="row justify-content-around pd-top-30">
                    <h5 class="font-bold">There is not a project in this field</h5>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="row justify-content-around pd-top-30">
                <h3 class="font-bold">Field Not Defined</h3>
                {% for project in projects %}
                    {% if project.field == null %}
                    <div class="field-column col-md-3 pd-top-30">
                        <a href="{% url 'project' project.id %}"><img class="project-image" src="{{ project.thumbnail.url }}" alt="project 1"></a>
                        <div class="peoject-body">
                            <h6>{{ project.title }}</h6>
                            <div class="item-modifications">
                                <a href="{% url 'edit-project' project.id %}" class="btn btn-secondary">Edit</a>
                                <a href="{% url 'delete-project' project.id %}" class="btn btn-secondary">Delete</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}