/** -------------------- field.html -------------------- **/
/** This file includes styling related to individual field pages **/

#field .field-header {
    text-align: center;
}

#field .field-image-container .field-logo {
    width: 300px;
    max-width: 50%;
}

/** -------------------- field_management.html -------------------- **/
