@import url('http://fonts.cdnfonts.com/css/menlo');
/** --------------- General --------------- **/
body {
    font-family: 'Menlo', sans-serif !important;
    color: #62615c !important;
    background-color: #f8f6e9 !important;
    padding-bottom: 30px;
}
h1, h2, h3, h4, h5, p, a {
    color: #62615c !important;
}
a {
    text-decoration: none !important;
}
.btn-secondary {
    color: #f8f6e9 !important;
}

/** --------------- General Custom --------------- **/
.font-bold {
    font-weight: bold;
}
.delete-btn {
    color: #f8f6e9 !important;
    background-color: #a32222 !important;
}
.btn span {
    font-size: 20px;
    vertical-align: sub;
}
.edit-btn {
    color: #f8f6e9 !important;
    background-color: #62615c !important;
}

.pd-20 {
    padding: 20px;
}
.pd-top-30 {
    padding-top: 30px !important;
}
.pd-bot-30 {
    padding-bottom: 30px;
}
.pd-top-50 {
    padding-top: 50px;
}
.mg-top-10 {
    margin-top: 10px;
}
.mg-10 {
    margin: 10px;
}
.num-label {
    background-color: #a32222;
    color: #fff;
    padding: 8px 3px;
    border-radius: 35%;
}
.bg-gray {
    background-color: #62615c;
    color: #fff !important;
}


/** --------------- Hero --------------- **/
#hero {
    /* background-color: #1F2428; */
    height: 100%;
    color: #fff;
}
/** hero icon **/
#hero .icon {
    margin-top: -25%;
}
#hero .icon img {
    width: 100%;
}
/** hero hero-content **/
.hero-content {
    margin: 0 auto;
    padding-top: 2em;
}

/** hero hero-content hero-content-intro **/
.hero-content-intro {
    display: flex;
    color: rgb(156, 152, 152);
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

/** hero hero-content hero-content-intro profile-picture **/
.profile-picture {
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #62615c;
}

/** hero hero-content hero-content-intro intro-name-wrapper **/
@media screen and (max-width: 992px) {
    .intro-name-wrapper {
        text-align: center;
    }
    .intro-name-wrapper h1 {
        font-size: 75px;
    }
    /** hero icon **/
    #hero .icon {
        margin-top: -30%;
    }
    #hero .icon img {
        width: 100%;
    }
    /** hero hero-content **/
    .hero-content {
        margin: 0 auto;
        padding-top: 3em;
    }
    /** hero hero-content hero-content-subsection **/
    .hero-content-subsection h3{
        font-size: 50px !important;
    }
    .hero-content-subsection p{
        font-size: 21px !important;
    }
    /** hero hero-content about-me **/
    #hero .about-me {
        width: 80%;
    }
}

/** hero hero-content hero-content-intro intro-name-wrapper intro-name **/
.intro-name {
    font-size: 85px;
    letter-spacing: .08em;
    font-weight: 600;
}

/** hero hero-content hero-content-subsection **/
.hero-content-subsection {
    margin-top: 2em;
}
.hero-content-subsection h3 {
    font-size: 65px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}
.hero-content-subsection p {
    font-size: 24px;
    text-align: center;
    font-weight: 200;
}

/** hero hero-content about-me **/
#hero .about-me {
    width: 70%;
    margin-top: 50px;
}

/** hero hero-content | width < 576px **/
@media screen and (max-width: 576px) {
    #hero {
        padding-bottom: 0;
    }
    .intro-name {
        font-size: 55px;
        letter-spacing: .08em;
        font-weight: 600;
        margin-top: 20px;
    }
    /** hero hero-content hero-content-intro intro-name-wrapper **/
    .intro-name-wrapper h1 {
        font-size: 50px;
    }
    .hero-content-subsection h3 {
        margin-top: 20px;
        font-size: 40px !important;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }
    .hero-content-subsection p {
        font-size: 18px !important;
        text-align: center;
        font-weight: 200;
    }
    .profile-picture {
        height: 180px;
        width: 180px;
        object-fit: cover;
        border-radius: 50%;
    }
    /** hero hero-content about-me **/
    #hero .about-me {
        width: 80%;
    }
}




/** -------------------- Fields -------------------- **/
/** fields field-wrapper **/
.field-wrapper {
    display: flex;
}
.field-wrapper h3 {
    padding-top: 8px;
    text-transform: uppercase;
}

/** fields field-wrapper field-column **/
.field-column {
    max-width: 300px;
    padding-top: 20px;
    text-align: center;
}
.field-column img {
    width: 100%;
    max-width: 300px;
}

/** fields field-wrapper field-column field-logo **/
.field-logo-home {
    width: 100%;
}

/** fields field-wrapper field-column field-body **/
.field-body {
    padding: 1em;
    text-align: center;
}
.field-body a{
    font-size: 14px;
    font-weight: bolder;
}




/** -------------------- Content -------------------- **/
/** content project-wrapper **/
.project-wrapper {
    display: flex;
}
.project-wrapper h3 {
    padding-top: 8px;
    text-transform: uppercase;
}

/** content project-wrapper project-column **/
.project-column {
    width: 300px;
    padding-top: 20px;
}

/** content project-wrapper project-column project-thumbnail **/
.project-thumbnail {
    width: 100%;
}

/** content project-wrapper project-column project-body **/
.project-body {
    /* background-color: #fff; */
    padding: 1em;
}







/** -------------------- Skills -------------------- **/
@media screen and (min-width: 992px) {
    #skills .container {
        padding: 0 250px;
    }
}

/** skills skills-container **/
.skills-container {
    padding-top: 12px;
}


/** skills skills-container skills-wrapper **/
.skill-wrapper {
    margin-top: 20px;
    margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
    .skill-wrapper {
        display: flex;
        gap: 2em;
    }
}
@media screen and (max-width: 992px) {
    .skill-wrapper {
        text-align: center;
        margin-bottom: 60px;
    }
    .skill-wrapper img, .skill-wrapper h5 {
        margin-bottom: 20px;
    }
    /** Skills icon **/
    #skills .icon img {
        width: 100%;
        height: 300px;
    }
}

/** skills skills-container skills-wrapper skill-logo **/
.skill-logo{
    max-width: 60px;
    max-height: 60px;
    /* margin-right: 2em; */
}

/** skills skills-container other-skills-container **/
.other-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/** skills skills-container other-skills-container skill-tag **/
.skill-tag {
    /* background-color: #C4E7F2; */
    width: fit-content;
    padding: 3px 10px;
    border-radius: 20px;
}
/** Skills icon **/
#skills .icon img {
    width: 100%;
}








/** -------------------- Endorsements -------------------- **/
/** Endorsements endorsement-container **/
.skills-container {
    padding-top: 12px;
}






/** -------------------- Contact -------------------- **/
/** contact contact-form **/
.contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
}
.socialmedia-icons {
    font-size: 60px;
}