/** -------------------- Project.html -------------------- **/
/** This file includes styling related to individual project pages **/


.pd-top-bot-10 {
    padding: 10px 0;
}

/** -------------------- Project -------------------- **/
/** Project container project-image-container **/
#project .project-image-container{
    text-align: center;
}

/** Project container project-image-container project-image **/
#project .project-image{
    max-width: 100%;
    max-height: 90vh;
}

/** Project container project-image-container card **/